<div class="content-container">
    
    
    <div class="table-container">
   
  
    <div class="divtable">

        

     <h2 class="title-heading">Ingresos</h2>
  
        <app-table 
        [dataSource]="dataSource" 
        [displayedColumns]="displayedColumns" 
        [enableSearch]="true" 
        [pageSize]="10"
        [showActions]="true"
        [showInputdate]="true"
        [ActionEdit] = "true"
        [columnNames]="columnNames"
        [ActionLeft]="true"
        (editAction)="onEditAction($event)"
        [date]="[dates.FechaInicio, dates.FechaFin]"
        [ActionImportGo] ="true"
        (dateSelected)="handleDateSelected($event)"
        
        > <!-- Aquí puedes establecer true o false según sea necesario (editAction)="onEditAction($event)" -->
        </app-table>
    
   </div>
  </div>
  </div>
  
