<div class="content-container">
    <div class="table-container responsive-table">
        <div class="divtable">
            <div class="headerclass">
                <h2 class="title-heading">Theory of operation</h2>
                <div class="btn-wrappers" nz-flex [nzJustify]="selectedJustification" [nzAlign]="selectedLAlignment">
                    <div>
                        <strong>Machine:</strong>
                        {{Maquina}}
                    </div>
                    <div>
                        <strong>Category:</strong>
                        {{Categoria}}
                    </div>
                    <div>
                        <strong>Centerline:</strong>
                        {{Centerline}}
                    </div>
                </div>
                <strong>Based on a similar TOO centerline</strong>
                <form [formGroup]="formularioForm" class="form-grid">
                    <!-- Primera fila -->
                    <div class="form-group">
                        <label for="idMachine" class="form-label">Select machine:</label>
                        <nz-form-control nzHasFeedback nzErrorTip="You must select a machine.">
                            <nz-select id="idMachine" formControlName="idMachine" nzShowSearch nzAllowClear
                                nzPlaceHolder="Select machine" (ngModelChange)="onMachineChange($event)">
                                <nz-option *ngFor="let machine of machines" [nzLabel]="machine.machine"
                                    [nzValue]="machine.idMachine"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </div>

                    <div class="form-group">
                        <label for="idCategory" class="form-label">Select category:</label>
                        <nz-form-control nzHasFeedback nzErrorTip="You must select a category.">
                            <nz-select id="idCategory" formControlName="idCategory" nzShowSearch nzAllowClear
                                nzPlaceHolder="Select category" (ngModelChange)="onCategoryChange($event)">
                                <nz-option *ngFor="let category of categories" [nzLabel]="category.category"
                                    [nzValue]="category.idCategory"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </div>

                    <div class="form-group">
                        <label for="idCenterline" class="form-label">Select centerline:</label>
                        <nz-form-control nzHasFeedback nzErrorTip="You must select a centerline.">
                            <nz-select id="idCenterline" formControlName="idCenterline" nzShowSearch nzAllowClear
                                nzPlaceHolder="Select a centerline" (ngModelChange)="onCenterlineChange($event)">
                                <nz-option *ngFor="let centerline of centerlines" [nzLabel]="centerline.name"
                                    [nzValue]="centerline.idCenterline"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </div>
                </form>
            </div>
            <div>
                <form [formGroup]="formularioForm2">
                    <div class="question">
                        <span><strong>What quality or production aspect the centerline controls</strong></span>
                        <textarea nz-input placeholder="This centerline is used to control..." nzAutosize
                            formControlName="question1"></textarea>
                    </div>
                    <div class="question">
                        <span><strong>What mechanically or electrically changes in the process when the value
                                changes</strong></span>
                        <textarea nz-input placeholder="The centerline does this by changing..." nzAutosize
                            formControlName="question2"></textarea>
                    </div>
                    <div class="question">
                        <span><strong>How the process mechanically or electrically changes when the value
                                increases</strong></span>
                        <textarea nz-input placeholder="Increasing this value will increase the..." nzAutosize
                            formControlName="question3"></textarea>
                    </div>
                    <div class="question">
                        <span><strong>How the quality or production aspect is impacted if the value is to
                                high</strong></span>
                        <textarea nz-input placeholder="If the value is to high the..." nzAutosize
                            formControlName="question4"></textarea>
                    </div>
                    <div class="question">
                        <span><strong>How the quality or production aspect is impacted if the value is to
                                low</strong></span>
                        <textarea nz-input placeholder="If the value is to low the..." nzAutosize
                            formControlName="question5"></textarea>
                    </div>
                    <div class="question">
                        <span><strong>Enter in the boxes each HMI screen that needs to be clicked on to find the HMI
                                screen that the centerline is on. Delete “Home” and
                                “Next Screen” if not an HMI setting</strong></span>
                        <div class="btn-wrappers" nz-flex [nzJustify]="selectedJustification2"
                            [nzAlign]="selectedLAlignment">
                            <div>
                                <textarea nz-input placeholder="Home" nzAutosize formControlName="question6"></textarea>
                            </div>
                            <div>
                                <i class="icon" nz-icon nzType="arrow-right"></i>
                            </div>
                            <div>
                                <textarea nz-input placeholder="Next screen" nzAutosize
                                    formControlName="question7"></textarea>
                            </div>
                            <div>
                                <i class="icon" nz-icon nzType="arrow-right"></i>
                            </div>
                            <div>
                                <textarea nz-input placeholder="" nzAutosize formControlName="question8"></textarea>
                            </div>
                            <div>
                                <i class="icon" nz-icon nzType="arrow-right"></i>
                            </div>
                            <div>
                                <textarea nz-input placeholder="" nzAutosize formControlName="question9"></textarea>
                            </div>
                            <div>
                                <i class="icon" nz-icon nzType="arrow-right"></i>
                            </div>
                            <div>
                                <textarea nz-input placeholder="" nzAutosize formControlName="question10"></textarea>
                            </div>
                            <div>
                                <i class="icon" nz-icon nzType="arrow-right"></i>
                            </div>
                        </div>
                        <div class="btn-wrappers" nz-flex [nzJustify]="selectedJustification2"
                            [nzAlign]="selectedLAlignment">
                            <div>
                                <textarea nz-input placeholder="" nzAutosize formControlName="question11"></textarea>
                            </div>
                            <div>
                                <i class="icon" nz-icon nzType="arrow-right"></i>
                            </div>
                            <div>
                                <textarea nz-input placeholder="" nzAutosize formControlName="question12"></textarea>
                            </div>
                            <div>
                                <i class="icon" nz-icon nzType="arrow-right"></i>
                            </div>
                            <div>
                                <textarea nz-input placeholder="" nzAutosize formControlName="question13"></textarea>
                            </div>
                            <div>
                                <i class="icon" nz-icon nzType="arrow-right"></i>
                            </div>
                            <div>
                                <textarea nz-input placeholder="" nzAutosize formControlName="question14"></textarea>
                            </div>
                            <div>
                                <i class="icon" nz-icon nzType="arrow-right"></i>
                            </div>
                            <div>
                                <textarea nz-input placeholder="" nzAutosize formControlName="question15"></textarea>
                            </div>
                            <div>
                                <i class="icon" nz-icon nzType="arrow-right"></i>
                            </div>
                        </div>
                        <div class="btn-wrappers" nz-flex [nzJustify]="selectedJustification2"
                            [nzAlign]="selectedLAlignment">
                            <div>
                                <textarea nz-input placeholder="" nzAutosize formControlName="question16"></textarea>
                            </div>
                            <div>
                                <i class="icon" nz-icon nzType="arrow-right"></i>
                            </div>
                            <div>
                                <textarea nz-input placeholder="" nzAutosize formControlName="question17"></textarea>
                            </div>
                            <div>
                                <i class="icon" nz-icon nzType="arrow-right"></i>
                            </div>
                            <div>
                                <textarea nz-input placeholder="" nzAutosize formControlName="question18"></textarea>
                            </div>
                            <div>
                                <i class="icon" nz-icon nzType="arrow-right"></i>
                            </div>
                            <div>
                                <textarea nz-input placeholder="" nzAutosize formControlName="question19"></textarea>
                            </div>
                            <div>
                                <i class="icon" nz-icon nzType="arrow-right"></i>
                            </div>
                            <div>
                                <textarea nz-input placeholder="" nzAutosize formControlName="question20"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="question">
                        <span><strong>Image where the centerline can be found</strong></span>
                        <nz-upload
                        nzType="drag"
                        [nzMultiple]="true"
                        [nzShowUploadList]="true"
                        [nzBeforeUpload]="beforeUpload"
                        [(nzFileList)]="fileList"
                        nzAutoUpload="false"
                        nzAccept="image/*"> <!-- Acepta solo imágenes -->
                        <p class="ant-upload-drag-icon">
                            <i nz-icon nzType="inbox"></i>
                        </p>
                        <p class="ant-upload-text">Click or drag file to this area to upload</p>
                        <p class="ant-upload-hint">
                            Only image files are allowed (JPG, PNG, GIF, etc.)
                        </p>
                        </nz-upload>
                    </div>
                    <div class="question">
                        <span><strong>Additional information (manual screen shot, etc.)</strong></span>
                        <textarea nz-input placeholder="Additional information" nzAutosize
                            formControlName="question21"></textarea>
                    </div>
                    <div class="question">
                        <nz-upload
                        nzType="drag"
                        [nzMultiple]="true"
                        [nzShowUploadList]="true"
                        [nzBeforeUpload]="beforeUpload"
                        [(nzFileList)]="fileList"
                        nzAutoUpload="false"
                        nzAccept="image/*"> <!-- Acepta solo imágenes -->
                        <p class="ant-upload-drag-icon">
                            <i nz-icon nzType="inbox"></i>
                        </p>
                        <p class="ant-upload-text">Click or drag file to this area to upload</p>
                        <p class="ant-upload-hint">
                            Only image files are allowed (JPG, PNG, GIF, etc.)
                        </p>
                        </nz-upload>
                    </div>
                </form>
            </div>
            <div class="question">
                <div class="btn-wrappers" nz-flex [nzJustify]="selectedJustification3" [nzAlign]="selectedLAlignment">
                    <app-buttonstrategic mat-button [label]="'Back'" [customClass]="'BotonGris'" (click)="Back()"
                        class="boton-margen" [cancelar]="true"></app-buttonstrategic>

                    <app-buttonstrategic mat-button [label]="'Save'" [customClass]="'BotonAzul'" (click)="Continue()"
                        class="boton-margen"></app-buttonstrategic>
                </div>
                <div class="button-container">
                    
                </div>
            </div>
        </div>
    </div>
</div>