<h3 mat-dialog-title class="dialog-title">{{ titulo }}</h3>
<hr class="division-line">
<div class="importdata">

  <mat-dialog-content>
    <form [formGroup]="formularioForm">


      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="nombre" style="text-align: left;">Nombre</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input   formControlName="nombre" name="nombre" required />
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="tipoProyecto" style="text-align: left;">Tipo de proyecto</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input   formControlName="tipoProyecto" name="tipoProyecto" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="id" style="text-align: left;">Lider de proyecto</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes seleccionar un lider de proyecto">
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Seleccione un lider de proyecto"
            formControlName="liderProyecto"
            required>
            <nz-option *ngFor="let lideres of lideres" [nzLabel]="lideres.nombreVendedor" [nzValue]="lideres.idVendedor"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="id" style="text-align: left;">Zona</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes seleccionar una zona">
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Seleccione una zona"
            formControlName="idZona"
            required>
            <nz-option *ngFor="let zonas of zona" [nzLabel]="zonas.nombreZona" [nzValue]="zonas.idZona"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="id" style="text-align: left;">Unidad</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes seleccionar una unidad">
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Seleccione una unidad"
            formControlName="idUnidad"
            required>
            <nz-option *ngFor="let unidades of unidades" [nzLabel]="unidades.nombre" [nzValue]="unidades.idUnidad"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="porcentajeavanceProyectado" style="text-align: left;">porcentaje proyectado</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input type="number"  formControlName="porcentajeavanceProyectado" name="porcentajeavanceProyectado" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="porcentajeavanceReal" style="text-align: left;">Porcentaje real</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input type="number"   formControlName="porcentajeavanceReal" name="porcentajeavanceReal" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="id" style="text-align: left;">Etapa</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes seleccionar una etapa">
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Seleccione una etapa"
            formControlName="idEtapa"
            required>
            <nz-option *ngFor="let etapas of etapas" [nzLabel]="etapas.nombre" [nzValue]="etapas.idEtapa"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="estado" style="text-align: left;">Estado</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <nz-switch formControlName="estado"></nz-switch>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="estado" style="text-align: left;">Fecha de inicio </nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <nz-date-picker formControlName="fechaInicio" ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="estado" style="text-align: left;">Fecha final </nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <nz-date-picker formControlName="fechaFinal" (ngModelChange)="onChange($event)"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <app-buttonstrategic mat-button [label]="'Cancelar'" [customClass]="'BotonGris'" (click)="onCancel()" class="botonmargen" [cancelar] ="true"></app-buttonstrategic>
    <app-buttonstrategic mat-button [label]="'Guardar'" [customClass]="'BotonVerde'" (click)="guardarCambios()" class="botonmargen"></app-buttonstrategic>
  </mat-dialog-actions>
</div>
