.custom-header {
    background-color: white;
    border-bottom: 1px solid #C8CBD9; /* Puedes mantener esto si deseas tanto la línea como la sombra */
    align-items: center;
    }

.custom-titleCompany {
  
  padding-left: 20px;
  margin-right: 9px;
  height: 100%; /* Asegura que ocupe toda la altura del toolbar */
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
}

.boton-menu {
  margin-left: -4px;
  margin-right: 15px; /* Espacio entre el borde y el texto */
}


.toolbar-item-spacer {
    flex: 1 1 auto;
}

.custom-titleHeader {
    margin-right: 15px;
    font-size: 14px;
    margin-left: 10px;
  }
  
  .custom-titleCompany {
    margin-right: 10px;
    min-width: 300px;
    font-size: 16px;
    color: #5A67BA;
    font-weight: bold;
  }

  .custom-logo {
    height: 70px; /* Ajusta esta altura según lo que necesites */
    width: auto;  /* Deja que el ancho se ajuste automáticamente para mantener la proporción */
  }
  