<mat-toolbar color="primary" class="custom-header">
    <button mat-icon-button  matTooltip="Menu"  class="boton-menu" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../../../assets/images/logo.png" class="custom-logo" />
   
    <!--
    <br />
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" [ngStyle]="{'max-width': '500px'}">
      <input type="text" nz-input placeholder="Preguntale a la AI" [(ngModel)]="userInput"/>
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" (click)="sendMessage()" nzSearch><span nz-icon nzType="search"></span></button>
    </ng-template>
    <br />

    <button nz-button nzType="primary" (click)="toggleChat()">Toggle Chat</button>

   -->

   
    <span class="spacer"></span>
    <!--<span class="custom-titleHeader"> ANA ROJAS DUQUE</span>-->

   

    <button *ngIf="isVisiblestatecompany" mat-icon-button matTooltip="Estado de la empresa" (click)="gologactivities()">
      <div class="icon-container">
        <mat-icon [ngClass]="{'rotating-icon': notificationIcon === 'autorenew'}">
          {{ notificationIcon }}
        </mat-icon>
        <span matBadge="{{ notificationNumber }}" matBadgeColor="primary" class="numbericon"></span>
      </div>
    </button>
    
    
  
    <button mat-icon-button matTooltip="Chat con AI" (click)="toggleChat()">
      <mat-icon>chat</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Mi cuenta" [matMenuTriggerFor]="userAccountMenu">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
      <button mat-menu-item routerLink="#">
        <mat-icon>person</mat-icon><span>Cuenta</span>
      </button>
      <button mat-menu-item routerLink="/">
        <mat-icon>business</mat-icon><span>Mis empresas</span>
      </button>
      <button mat-menu-item routerLink="/">
        <mat-icon>persons</mat-icon><span>Usuarios</span>
      </button>
      <button mat-menu-item routerLink="/dashboard">
        <mat-icon>help</mat-icon><span>Ayuda</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>Cerrar sesión
      </button>
    </mat-menu>


   
  </mat-toolbar>

  <app-chat-ai *ngIf="chatVisible"></app-chat-ai>