
<div class="modal-fondo">
  <h3 mat-dialog-title class="dialog-title">{{ titulo }}</h3>
  <hr class="division-line">
  <div class="importdata">
  
    <mat-dialog-content>
      <form [formGroup]="formularioForm">
  
  
        <nz-form-item>
          <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="name" style="text-align: left;">Name Company</nz-form-label>
          <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
            <input nz-input   formControlName="name" name="required" required />
          </nz-form-control>
        </nz-form-item>

      </form>
    </mat-dialog-content>
  
    <mat-dialog-actions>
      <app-buttonstrategic mat-button [label]="'Cancelar'" [customClass]="'BotonGris'" (click)="onCancel()" class="botonmargen" [cancelar] ="true"></app-buttonstrategic>
      <app-buttonstrategic mat-button [label]="'Guardar'" [customClass]="'BotonVerde'" (click)="guardarCambios()" class="botonmargen"></app-buttonstrategic>
    </mat-dialog-actions>
  </div>
  </div>
  