<nz-tabset nzType="card">
  <nz-tab nzTitle="Change target and limits for CL">
    <app-change-target-and-limits></app-change-target-and-limits>
  </nz-tab>

  <nz-tab nzTitle="Update target and limits by product">
    <app-update-target-and-limits-product></app-update-target-and-limits-product>
  </nz-tab>

  <nz-tab nzTitle="Category NR or running by product">
    <app-category-no-running></app-category-no-running>
  </nz-tab>

  <nz-tab nzTitle="Change target and limits multiple products">
    <app-change-target-and-limits-multiple-products></app-change-target-and-limits-multiple-products>
  </nz-tab>

</nz-tabset>