    <div class="content-container">
        <div class="table-container">
       
            <div class="divtable">

             <h2 class="title-heading">Carga de información</h2>

                <app-table 
                [dataSource]="dataSource" 
                [displayedColumns]="displayedColumns" 
                [enableSearch]="true" 
                [pageSize]="10"
                [showActions]="true"
                [ActionExport]="true"
                [ActionImport]="true"
                (importAction)="onImportAction($event)" 
                (exportAction)="onExport($event)" 
                > <!-- Aquí puedes establecer true o false según sea necesario -->
              </app-table>
            
           </div>
        </div>
    </div>

