<div class="main-container">
    <mat-toolbar class="Backgroundwhite">
      <span>Empresas</span>
      <span class="spacer"></span>
      <button mat-raised-button color="accent">Agregar</button>
    </mat-toolbar>
  
    <div class="content-container">
      <div class="filter-container">
        <mat-form-field appearance="fill">
          <mat-label>Filtrar</mat-label>
          <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
      </div>
  
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  
          <!-- Nombre Empresa Column -->
    
          <ng-container matColumnDef="nombreEmpresa">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Empresa</th>
            <td mat-cell *matCellDef="let element">
              <a href="#" (click)="getLoginEmpresas(element.idEmpresa)">{{element.nombreEmpresa}}</a>
            </td>
          </ng-container>
          
  
          <!-- Acciones Column -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button color="accent">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>