::ng-deep .custom-sub-table .ant-table-tbody > tr:hover > td {
  background-color: transparent !important; 
  border-color: transparent !important; 
}

::ng-deep .custom-sub-table .ant-table-tbody > tr:hover > td {
  background-color: transparent !important;
  border-color: transparent !important;
}

.custom-sub-table .ant-table-tbody > tr:hover > td {
  background-color: transparent !important;
  border-color: transparent !important;
}
