.full-page-container {
  display: flex;
  flex-direction: column;
  height: 65vh; /* Usar toda la altura disponible de la ventana */

  background-color: transparent !important;
}

.table-container {
  flex-grow: 1;
  overflow: hidden; /* Asegurar que el scroll solo ocurra dentro de table-scroll-wrapper */
  display: flex;
  flex-direction: column;
  background-color: transparent !important;
}

.paginator-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  position: absolute; /* Fijo en la parte inferior */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  /* background-color: white; */
  z-index: 1; /* Asegura que esté por encima de otros elementos */
}

.background-white-title-botton {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 1px 0; /* Ajusta el padding según sea necesario */
}

.invisible-divider {
  border-left-color: transparent; /* Hace invisible el borde izquierdo (vertical) */
}


.same-width-table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  width: auto; /* O usa porcentajes */
  min-width: 120px; /* Mínimo para mantener alineado el contenido */
}

a{
  width: 20px;
  height: 20px;
  margin: 0 5px;
}


.min-column-width {
  width: 150px !important;
}

.nz-table th {
  min-width: 150px !important; /* Aplica el ancho mínimo a las columnas */
}

@media (max-width: 768px) {
  .paginator-container {
    position: relative; /* Se posiciona como parte del flujo normal */
    bottom: auto; /* Elimina la posición inferior */
    left: 0;
    right: 0;
    margin-top: 10px; /* Agrega un poco de espacio entre la tabla y el paginador */
    justify-content: center; /* Centra el paginador en pantallas pequeñas */
    padding: 5px;
    background-color: transparent; /* Fondo transparente para integrarse con el diseño */
  }

  .table-container {
    overflow: auto; /* Permite desplazamiento si la tabla es demasiado grande */
    margin-bottom: 0; /* Elimina el espacio extra debajo de la tabla */
  }
}

.full-page-container {
  display: flex;
  flex-direction: column;
  position: relative; /* Asegura que el paginador absoluto se posicione dentro de este contenedor */
  overflow: hidden; /* Evita que el contenido desborde */
}

.table-container {
  flex-grow: 1;
  overflow-y: auto; /* Permite scroll solo para la tabla */
  margin-bottom: 60px; /* Deja espacio para el paginador en pantallas grandes */
}



