
<div class="full-page-container">
  <div class="table-container">
  <nz-table 
    #sortTable
    #nzTable
    [nzData]="paginatedData"
    [nzPageSize]="pageSize" 
    [nzScroll]="{  y: '340px' }" 
    [nzShowPagination]="false"
  >
    <thead>
      <tr >
        <th [nzWidth]="'80px'" nzStyle="background-color: #f5f5f5; color: #333;"></th>
        <th *ngFor="let column of columns"
            (click)="sortData(column.field)"
            [nzSortOrder]="column.sortDirection"
            [nzWidth]="'150px'">
             {{ column.title }}
          <i *ngIf="column.sortDirection === 'ascend'" class="fas fa-sort-up"></i>
          <i *ngIf="column.sortDirection === 'descend'" class="fas fa-sort-down"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of paginatedData">
        <tr>

          <td [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
          


          <ng-container *ngFor="let column of columns">
            <td *ngIf="column.title === 'Acciones' && ActionEdit">
              <a *ngIf="!data.isEditing" (click)="toggleEdit(data, true, 'principal')">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
              </a>
              <!-- <a (click)="onDelete(data,'principal')" *ngIf="!data.isDelete">
                <span nz-icon nzType="delete" nzTheme="outline"></span>
              </a> -->
              <a *ngIf="data.isEditing" (click)="saveMainTableEdit(data)"><span nz-icon nzType="save" nzTheme="outline" style="font-size: 20px; margin-left:10px"></span></a>
              <a *ngIf="data.isEditing" (click)="toggleEdit(data, false,'principal')"><i nz-icon nzType="close" nzTheme="outline" style="font-size: 20px; margin-left:10px"></i></a>
            </td>
          
            <td *ngIf="column.title !== 'Acciones' && !data.isEditing" nz-td>{{ data[column.field] }}</td>
            <td *ngIf="column.title !== 'Acciones' && data.isEditing" nz-td><input nz-input [(ngModel)]="data[column.field]" /></td>
          </ng-container>
          
        
        </tr>


        <tr *ngIf="expandSet.has(data.id)" >
            <th [nzWidth]="'80px'"></th>
            <nz-table [nzShowPagination]="false" [nzBordered]="false" [nzData]="data.subData" nzSize="middle" 
                >
              <thead>
                <tr>
                  <th style="background-color: white;" *ngFor="let subColumn of subColumns">
                    <ng-container >
                      {{ subColumn.title }}
                    </ng-container>
                  </th>
                </tr>
              </thead>

              <tbody>


                <tr *ngFor="let subItem of data.subData">


                  <ng-container *ngFor="let subColumn of subColumns">

                    <td *ngIf="subColumn.title === 'Acciones' && ActionEdit">
                      <a *ngIf="!subItem.isEditing && allowEditAction" (click)="toggleEdit(subItem, true,'subTable')">
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                      </a>
                      <!-- <a (click)="onDelete(subItem,'subTable')" *ngIf="allowDeleteAction">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                      </a> -->
                      <a *ngIf="subItem.isEditing" (click)="saveSubTableEdit(subItem)"><span nz-icon nzType="save" nzTheme="outline"></span></a>
                      <a *ngIf="subItem.isEditing" (click)="toggleEdit(subItem, false,'subTable')"><i nz-icon nzType="close" nzTheme="outline" style="font-size: 20px; margin-left:10px"></i></a>
                    </td>


                    <td *ngIf="subColumn.title !== 'Acciones' && !subItem.isEditing" nz-td>{{ subItem[subColumn.field] }}</td>
                    <td *ngIf="subColumn.title !== 'Acciones' && subItem.isEditing" nz-td><input nz-input [(ngModel)]="subItem[subColumn.field]" /></td>


                 
                  </ng-container>

                  

              </tbody>



            </nz-table>
        
        </tr>


      </ng-container>
    </tbody>
  </nz-table>

  
  <div class="paginator-container">
    <nz-pagination 
      [nzPageSize]="pageSize"
      [nzTotal]="sortedData.length"
      [(nzPageIndex)]="currentPage"
      [nzShowTotal]="totalTemplate"
      (nzPageIndexChange)="onPageChange($event)">
    </nz-pagination>
    
    <ng-template #totalTemplate let-total>
      Registros mostrados {{ (currentPage - 1) * pageSize + 1 }} - 
      {{ (currentPage * pageSize) < total ? (currentPage * pageSize) : total }} 
      de {{ total }} registros
    </ng-template>
    
    </div>
</div>


</div>

