<h3 mat-dialog-title class="dialog-title">{{ titulo }}</h3>
<hr class="division-line">
<div class="importdata">

  <mat-dialog-content>
    <form [formGroup]="formularioForm">

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="fecha" style="text-align: left;">Fecha</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar la fecha">
          <nz-date-picker nzMode="month" formControlName="fecha" ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="numeroFactura" style="text-align: left;">Número de Factura</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar el número de factura">
          <input nz-input formControlName="numeroFactura" name="numeroFactura" required />
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="idUnidad" style="text-align: left;">Unidad</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes seleccionar una unidad">
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Seleccione una unidad"
            formControlName="idUnidad"
            required>
            <nz-option *ngFor="let unidad of unidades" [nzLabel]="unidad.nombre" [nzValue]="unidad.idUnidad"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="idCliente" style="text-align: left;">Cliente</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes seleccionar un cliente">
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Seleccione un cliente"
            formControlName="idCliente"
            required>
            <nz-option *ngFor="let cliente of clientes" [nzLabel]="cliente.nombreCliente" [nzValue]="cliente.idCliente"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="fechaEmision" style="text-align: left;">Fecha de Emisión</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar la fecha de emisión">
          <nz-date-picker formControlName="fechaEmision"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="fechaVencimiento" style="text-align: left;">Fecha de Vencimiento</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar la fecha de vencimiento">
          <nz-date-picker formControlName="fechaVencimiento"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="valor" style="text-align: left;">Valor</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar el valor">
          <input nz-input formControlName="valor" name="valor" type="number" required />
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="antiguedadDias" style="text-align: left;">Antigüedad en Días</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar la antigüedad en días">
          <input nz-input formControlName="antiguedadDias" name="antiguedadDias" type="number" />
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="valorCarteraCorriente" style="text-align: left;">Valor Cartera Corriente</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar el valor de cartera corriente">
          <input nz-input formControlName="valorCarteraCorriente" name="valorCarteraCorriente" type="number" />
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="valor30Dias" style="text-align: left;">Valor a 30 Días</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar el valor a 30 días">
          <input nz-input formControlName="valor30Dias" name="valor30Dias" type="number" />
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="valor3160Dias" style="text-align: left;">Valor de 31 a 60 Días</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar el valor de 31 a 60 días">
          <input nz-input formControlName="valor3160Dias" name="valor3160Dias" type="number" />
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="valor6190Dias" style="text-align: left;">Valor de 61 a 90 Días</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar el valor de 61 a 90 días">
          <input nz-input formControlName="valor6190Dias" name="valor6190Dias" type="number" />
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="valorMayor91Dias" style="text-align: left;">Valor Mayor a 91 Días</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar el valor mayor a 91 días">
          <input nz-input formControlName="valorMayor91Dias" name="valorMayor91Dias" type="number" />
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="totalCartera" style="text-align: left;">Total Cartera</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar el total de la cartera">
          <input nz-input formControlName="totalCartera" name="totalCartera" type="number" required />
        </nz-form-control>
      </nz-form-item>
      
      
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <app-buttonstrategic mat-button [label]="'Cancelar'" [customClass]="'BotonGris'" (click)="onCancel()" class="botonmargen" [cancelar] ="true"></app-buttonstrategic>
    <app-buttonstrategic mat-button [label]="'Guardar'" [customClass]="'BotonVerde'" (click)="guardarCambios()" class="botonmargen"></app-buttonstrategic>
  </mat-dialog-actions>
</div>
