<div class="content-container">
    <div class="table-container">
     
  
      <div class="divtable">
  
       <h2 class="title-heading">Theory of operation</h2>
       <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a machine" [(ngModel)]="selectedValue">
        <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
        <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
        <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
      </nz-select>
      </div>
     
    </div>
  </div>
  



