.full-screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
  background-color: white;
}

.mat-sidenav-content {
  transition: margin-left 0.3s;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app-sidenav {
  background-color: rgba(166, 171, 200, 0.3);
  transition: width 0.3s;
  border-radius: 0 !important;
}

.custom-content {
  background-color: transparent; /* Cambia este valor al color deseado */
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}