.full-screen {
  height: 100%;
  width: 100%;
}

.app-container {
  height: 100%;
  width: 100%;
  background-color: white;
}

.mat-sidenav-content {
  transition: margin-left 0.3s;
}

.app-sidenav {
  background-color: rgba(166, 171, 200, 0.3);
  transition: width 0.3s;
  border-radius: 0 !important;
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: rgba(39, 50, 64, 0.8);
}

.custom-content {
  background-color: white; /* Change this value to the desired color */
}



  