
<div class="modal-fondo">
<h3 mat-dialog-title class="dialog-title">Editar cliente</h3>
<hr class="division-line">
<div class="importdata">

  <mat-dialog-content>
    <form [formGroup]="clientForm">


      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="nombreCliente" style="text-align: left;">Nombre del cliente</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="You must fill out this field.">
          <input nz-input   formControlName="nombreCliente" name="required" required />
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="descripcion" style="text-align: left;">Descripción</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <input nz-input formControlName="descripcion" style="width: 100%;" />
        </nz-form-control>
      </nz-form-item>

     
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="tipoIdentificacion" style="text-align: left;">Tipo de Identificación</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="You must fill out this field.">
          <input nz-input   formControlName="tipoIdentificacion" name="required" required />
        </nz-form-control>
      </nz-form-item>

     
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="identificacion" style="text-align: left;">Identificación</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="You must fill out this field.">
          <input nz-input   formControlName="identificacion" name="required" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="pais" style="text-align: left;">País</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <input nz-input formControlName="pais" style="width: 100%;" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="departamento" style="text-align: left;">Departamento</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <input nz-input formControlName="departamento" style="width: 100%;" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="ciudad" style="text-align: left;">Ciudad</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <input nz-input formControlName="ciudad" style="width: 100%;" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="direccionEmpresa" style="text-align: left;">Dirección Empresa</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <input nz-input formControlName="direccionEmpresa" style="width: 100%;" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="codigoPostal" style="text-align: left;">Código Postal</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <input nz-input formControlName="codigoPostal"  (input)="onInputChange($event, 'codigoPostal')" style="width: 100%;" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="telefono" style="text-align: left;">Teléfono:</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <input nz-input formControlName="telefono" style="width: 100%;" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="nombreResponsable" style="text-align: left;">Nombre Responsable</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <input nz-input formControlName="nombreResponsable" style="width: 100%;" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="telefonoResponsable" style="text-align: left;">Teléfono Responsable</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <input nz-input formControlName="telefonoResponsable" style="width: 100%;" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="correoResponsable" style="text-align: left;">Correo Responsable</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <input nz-input formControlName="correoResponsable" style="width: 100%;" [ngClass]="{'input-error': clientForm.get('correoResponsable')?.invalid && clientForm.get('correoResponsable')?.touched}"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="limiteCreditoDias" style="text-align: left;">Límite de Crédito</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <input nz-input formControlName="limiteCreditoDias" (input)="onInputChange($event, 'limiteCreditoDias')" style="width: 100%;" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="fechaDeCreacion" style="text-align: left;">Fecha de Creación</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <input nz-input formControlName="fechaDeCreacion" style="width: 100%;"  />
        </nz-form-control>
      </nz-form-item>

    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <app-buttonstrategic mat-button [label]="'Cancelar'" [customClass]="'BotonGris'" (click)="onCancel()" class="botonmargen" [cancelar] ="true"></app-buttonstrategic>
    <app-buttonstrategic mat-button [label]="'Guardar'" [customClass]="'BotonVerde'" (click)="guardarCambios()" class="botonmargen"></app-buttonstrategic>
  </mat-dialog-actions>
</div>
</div>
