.chat-fixed {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 400px;
    height: 600px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
  }
  
  .chat-body {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
  }
  
  .chat-footer {
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;
  }
  
  .chat-footer input {
    flex-grow: 1;
    margin-right: 10px;
  }

  /*
  .message-left {
    text-align: left;
  }
  
  .message-right {
    text-align: right;
  }
  
  .message-right .ant-list-item-meta {
    flex-direction: row-reverse; 
  }
  
  .message-right .ant-list-item-meta-title {
    text-align: right; 
  } 

  */


  .suggested-questions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
  }
  
  .suggested-questions button {
    flex-grow: 1;
    margin-top: 5px;
    text-align: center;
  }


  
  