<div class="content-container">
  <div class="table-container responsive-table">
    <div class="divtable">
      <div class="headerclass">
        <h2 class="title-heading">Data Entry</h2>
        <div class="form-container">
          <form [formGroup]="formularioForm" class="form-grid">
            <!-- Primera fila -->
            <div class="form-group">
              <label for="idMachine" class="form-label">Select machine:</label>
              <nz-form-control
                nzHasFeedback
                nzErrorTip="You must select a machine."
              >
                <nz-select
                  id="idMachine"
                  formControlName="idMachine"
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Select machine"
                  (ngModelChange)="onMachineChange($event)"
                >
                  <nz-option *ngFor="let machine of machines" [nzLabel]="machine.name" [nzValue]="machine.idMachine"></nz-option>
                </nz-select>
              </nz-form-control>
            </div>

            <div class="form-group">
              <label for="idProduct" class="form-label">Select product:</label>
              <nz-form-control
                nzHasFeedback
                nzErrorTip="You must select a product."
              >
                <nz-select
                  id="idProduct"
                  formControlName="idProduct"
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Select product"
                  (ngModelChange)="onProductsChange($event)"
                >
                  <nz-option *ngFor="let product of products" [nzLabel]="product.name" [nzValue]="product.idProduct"></nz-option>
                </nz-select>
              </nz-form-control>
            </div>
          </form>
        </div>
      </div>

      <app-table-with-rows-child
        [pageSize]="5"
        [listOfData]="dataForTable"
        [columns]="mainTableColumns"
        [subColumns]="subTableColumns"
        [ActionEdit]="true"
        [emitEditEvent]="true"
        (editClicked)="onEditClicked($event)"
        (subTableDataSaved)="onSubTableDataSaved($event)"
        (subTableDataCanceled)="onSubTableDataCanceled($event)"
      ></app-table-with-rows-child>
    </div>
  </div>
</div>
