<div class="content-container">


    <div class="table-container">
    
        <div class="divtable">

            <app-table [dataSource]="dataSource" [displayedColumns]="displayedColumns" [enableSearch]="true"
                 [pageSize]="10" [showActions]="true" [ActionEdit]="true"
                [columnNames]="columnNames" [ActionLeft]="true" (editAction)="onEditAction($event)"
                [ActionCreate] ="true"
                [ActionDelete]="true"
                (deleteAction)="onDeleteAction($event)"
                (Create)="CreateAction()">
                <!-- Aquí puedes establecer true o false según sea necesario -->
            </app-table>

        </div>
    </div>
</div>