<div class="content-container">
  <div class="table-container">
    <div class="divHeaderGrid">
      <div>
        <h1>Flujo de Caja</h1>
      </div>
      <div class="divHeaderTable">
        <nz-select
          class="select-input"
          [(ngModel)]="selectedYear"
          nzPlaceHolder="Seleccione una fecha"
        >
          <nz-option nzLabel="Seleccione una fecha" disabled selected></nz-option>
          <nz-option
            *ngFor="let year of dateYear"
            [nzLabel]="year"
            [nzValue]="year"
          ></nz-option>
        </nz-select>
        <div>
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input
              type="text"
              nz-input
              [(ngModel)]="searchValue"
              (input)="onSearchChange()"
              placeholder="Buscar..."
            />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon nzType="search" nzTheme="outline"></span>
          </ng-template>
        </div>
      </div>
    </div>
    <div>
      <app-table-with-rows-child
        [listOfData]="dataForTable"
      ></app-table-with-rows-child>
    </div>
  </div>
</div>
