@import "../../../../assets/styles/table.css";


.divHeaderGrid{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.divHeaderTable {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 5px; 
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
}

.divHeaderTable > * {
  margin-left: 10px;
}

.select-input {
  width: 200px;
}

