<div class="modal-fondo">
<h3 mat-dialog-title class="dialog-title">Editar zona</h3>
<hr class="division-line">
<div class="importdata">

  <mat-dialog-content>
    <form [formGroup]="clientForm">


      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="nombreZona" style="text-align: left;">Nombre de la zona</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input   formControlName="nombreZona" name="required" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="idTipozona" style="text-align: left;">Categoría</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes seleccionar una unidad de negocio">
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Seleccione una categoría"
            formControlName="idTipozona"
            required>
            <nz-option *ngFor="let tiposzona of tiposzonas" [nzLabel]="tiposzona.nombreTipozona" [nzValue]="tiposzona.idTipozona"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="fechaDeCreacion" style="text-align: left;">Fecha de Creación</nz-form-label>
        <nz-form-control [nzSm]="15" [nzXs]="24">
          <input nz-input formControlName="fechaDeCreacion" style="width: 100%;"  />
        </nz-form-control>
      </nz-form-item>

      

    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <app-buttonstrategic mat-button [label]="'Cancelar'" [customClass]="'BotonGris'" (click)="onCancel()" class="botonmargen" [cancelar] ="true"></app-buttonstrategic>
    <app-buttonstrategic mat-button [label]="'Guardar'" [customClass]="'BotonVerde'" (click)="guardarCambios()" class="botonmargen"></app-buttonstrategic>
  </mat-dialog-actions>
</div>
</div>