
<ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="!isExpanded">
  <ng-container *ngFor="let permiso of permisos">
    <li
      *ngIf="!permiso.permisosHijos?.length"
      nz-menu-item
      nz-tooltip
      nzTooltipPlacement="right"
      nzSelected
      (click)="increase(permiso.nombrePermiso, true)"
    >
      <span nz-icon ></span>
      <span>{{ permiso.nombrePermiso }}</span>
    </li>

    <li *ngIf="permiso.permisosHijos?.length" nz-submenu [nzTitle]="permiso.nombrePermiso" [nzIcon]="permiso.icon">
      <ul>
        <ng-container *ngFor="let hijo of permiso.permisosHijos">
          <li nz-menu-item [routerLink]="hijo.url">
            {{ hijo.nombrePermiso }}
          </li>
        </ng-container>
      </ul>
    </li>
  </ng-container>
</ul>
