.custom-title {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.custom-menu {
  background-color: transparent;
  color: rgba(39, 50, 64, 0.8);
  margin-bottom: 16px;
}

.custom-menu mat-expansion-panel-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.custom-menu mat-expansion-panel-header span {
  flex: 1 1 auto;
  margin-left: 5px;
  margin-right: 8px;
  word-break: break-word;
  white-space: normal; /* Ajuste para permitir el salto de línea */
  font-weight: normal;
  font-size: 14px;
}



.custom-menu mat-expansion-panel-header mat-icon {
  margin-right: 10px;
  align-self: center;
}

mat-menu mat-icon {
  color: inherit;
}

.nav-item {
  position: relative;
  border-radius: 0 !important;
  margin-left: 10px;
  margin-top: 10px;
}

.submenu{
  margin-left: 10px;
  border-left: 3px solid #5A67BA;
}


.nav-item:hover {
  background-color: rgba(112, 127, 221, 0.1) !important;
}

.nav-item:focus,
.nav-item:active {
  background-color: rgba(112, 127, 221, 0.3) !important;
}

.mat-expansion-panel.mat-expanded,
.mat-expansion-panel:hover,
.mat-expansion-panel:focus,
.mat-expansion-panel:active {
  background-color: rgba(112, 127, 221, 0.1) !important;
}

.mat-expansion-panel:not(.mat-expanded) {
  border-radius: 0 !important;
}

.selected-item {
  border-radius: 0 !important;
  background-color: rgba(112, 127, 221, 0.3);
}

.nav-itemNoExpend {
  border-radius: 0 !important;
}

.custom-menu mat-nav-list span {
  font-weight: normal; /* Ajusta el grosor de la fuente */
  font-size: 14px; /* Ajusta el tamaño de la fuente si es necesario */
  color: rgba(39, 50, 64, 0.8);
  word-break: break-word; /* Asegura que las palabras largas se rompan */
  white-space: normal; /* Permite el salto de línea */
  font-style: italic; /* Aplica el estilo cursivo */
}





