body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.background {
  background: linear-gradient(135deg, transparent 50%, #dbe4f1  50%), 
  linear-gradient(45deg,  #FFFFFF   50%,  #dbe4f1  50%);
  background-size: 100% 100%, 100% 100%;
  background-position: top left, bottom right;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  
  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  mat-card-title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: space-between;
  }
  
  mat-form-field, .full-width {
    width: 100%;
  }
  
  mat-checkbox {
    margin-bottom: 0px;
  }
  
  button.full-width {
    margin-top: 5px;
  }
  
  .forgot-password {
    display: block;
    text-align: right; /* Puedes cambiar esto a left si prefieres */
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 12px;
    color: #005ed3;
  }
  
  .forgot-password:hover {
    color: #005ed3;
  }
  
  .signin {
    display: block;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
    color: #005ed3;
    font-size: 12px;
  }

  button.BotonMorado {
    width: 100%;
    margin-top: 10px;
    background-color: #005ed3;
    color: #ffffff;
  }

  button.botonTransparente
  {
    width: 100%;
    margin-top: 10px; 
    background-color: transparent;
    color: #005ed3;
    border-bottom: 1px solid #C8CBD9; 
   }
  
  .signin:hover {
    color: #005ed3;
  }
  
  