<div class="content-container">   
    <div class="table-container">
    
  
    <div class="divtable">
        
     <h2 class="title-heading">Vendedores</h2>
        <app-table 
        [dataSource]="dataSource" 
        [displayedColumns]="displayedColumns" 
        [enableSearch]="true" 
        [pageSize]="10"
        [showActions]="true"
        [ActionEdit] = "true"
        [columnNames]="columnNames"
        [ActionLeft]="true"
        (editAction)="onEditAction($event)"
        [ActionImportGo] ="true"
        > <!-- Aquí puedes establecer true o false según sea necesario 
        (editAction)="onEditAction($event)" -->
        </app-table>
    
   </div>
  </div>
  </div>