
<div class="modal-fondo">
<h3 mat-dialog-title class="dialog-title">{{ titulo }}</h3>

<hr class="division-line">
<div class="importdata">

  <mat-dialog-content>
    <form [formGroup]="formularioForm">
       <!-- Wizard de 3 pasos -->
    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="Información Empresa"></nz-step>
      <nz-step nzTitle="Información Gerente"></nz-step>
      <nz-step nzTitle="Información Responsable"></nz-step>
    </nz-steps>

    <!-- Paso 1: Información de la Empresa -->
    <div *ngIf="current === 0">
      <nz-form-item style="margin-top: 30px;">
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="industria" style="text-align: left;">Industria</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input formControlName="industria" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="nombreEmpresa" style="text-align: left;">Nombre Empresa</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input formControlName="nombreEmpresa" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="pais" style="text-align: left;">País</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input formControlName="pais" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="departamento" style="text-align: left;">Departamento</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input formControlName="departamento" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="ciudad" style="text-align: left;">Ciudad</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input formControlName="ciudad" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="codigoPostal" style="text-align: left;">Código Postal</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input type="number" formControlName="codigoPostal" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="direccionEmpresa" style="text-align: left;">Dirección Empresa</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input formControlName="direccionEmpresa" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="telefonoEmpresa" style="text-align: left;">Teléfono Empresa</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input formControlName="telefonoEmpresa" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="correoEmpresa" style="text-align: left;">Correo Empresa</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar un correo válido">
          <input nz-input type="email" formControlName="correoEmpresa" required />
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- Paso 2: Información del Gerente -->
    <div *ngIf="current === 1" style="margin-top: 30px;">
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="nombreGerente" style="text-align: left;">Nombre del Gerente</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input formControlName="nombreGerente" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="apellidoGerente" style="text-align: left;">Apellido del Gerente</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input formControlName="apellidoGerente" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="telefonoGerente" style="text-align: left;">Teléfono del Gerente</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input formControlName="telefonoGerente" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="correoGerente" style="text-align: left;">Correo del Gerente</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar un correo válido">
          <input nz-input type="email" formControlName="correoGerente" required />
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- Paso 3: Información del Responsable -->
    <div *ngIf="current === 2" style="margin-top: 30px;">
      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="nombreResponsable" style="text-align: left;">Nombre del Responsable</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input formControlName="nombreResponsable" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="apellidoResponsable" style="text-align: left;">Apellido del Responsable</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input formControlName="apellidoResponsable" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="telefonoResponsable" style="text-align: left;">Teléfono del Responsable</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input formControlName="telefonoResponsable" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="correoResponsable" style="text-align: left;">Correo del Responsable</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar un correo válido">
          <input nz-input type="email" formControlName="correoResponsable" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="9" [nzXs]="24" nzFor="cargoResponsable" style="text-align: left;">Cargo del Responsable</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="24" nzErrorTip="Debes ingresar este campo">
          <input nz-input formControlName="cargoResponsable" required />
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <app-buttonstrategic mat-button [label]="'Cancelar'" [customClass]="'BotonGris'" (click)="onCancel()" class="botonmargen" [cancelar] ="true"></app-buttonstrategic>
  <app-buttonstrategic *ngIf="current > 0" mat-button [label]="'Anterioro'" [customClass]="'BotonGris'" (click)="pre()" class="botonmargen" ></app-buttonstrategic>
  <app-buttonstrategic *ngIf="current < 2" mat-button [label]="'Siguiente'" [customClass]="'BotonGris'" (click)="next()" class="botonmargen" ></app-buttonstrategic>
  <app-buttonstrategic *ngIf="current === 2" mat-button [label]="'Guardar'" [customClass]="'BotonVerde'" (click)="guardarCambios()" class="botonmargen"></app-buttonstrategic>
  </mat-dialog-actions>
</div>
</div>

