.full-page-container {
  display: flex;
  flex-direction: column;
  height: 60vh; /* Usar toda la altura disponible de la ventana */
}

.table-container {
  flex-grow: 1;
  overflow: hidden; /* Asegurar que el scroll solo ocurra dentro de table-scroll-wrapper */
  display: flex;
  flex-direction: column;
}

.paginator-container {
  display: flex;
  justify-content: flex-end; /* Alinea el contenido a la derecha */
  align-items: center;
  gap: 10px; /* Espacio entre elementos */
}