<div class="full-page-container">
  <div class="table-container">
    <div class="table-scroll-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0" matSort>
      <!-- Definición de columnas -->
      <ng-container *ngFor="let column of columnsToDisplay" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef [ngClass]="{'text-left': column === 'Acciones', 'text-center !important': column === 'Acciones'}">
          <div>
          
          {{ getColumnDisplayName(column) }}
        </div>
        </th>
        <td mat-cell *matCellDef="let element"  [ngClass]="{'text-left': column === 'Acciones', 'text-center': column === 'Acciones'}">
          <ng-container *ngIf="column === 'Acciones'; else showElement">
            <button mat-icon-button color="primary" *ngIf="ActionExport" (click)="onExport(element)">
              <mat-icon>cloud_download</mat-icon>
            </button>
            <button mat-icon-button color="accent" *ngIf="ActionImport" (click)="onImport(element)">
              <mat-icon>cloud_upload</mat-icon>
            </button>
            <button mat-icon-button color="accent" *ngIf="ActionGo" (click)="onGo(element)">
              <mat-icon>play_arrow</mat-icon>
            </button>

            <button mat-icon-button color="accent" *ngIf="ActionView" (click)="onGo(element)">
              <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="accent" *ngIf="element.idBalancecategoria ? element.isEditable : 1" (click)="onEdit(element)">
              <mat-icon>edit</mat-icon>
            </button>
          </ng-container>

          <ng-template #showElement class="text-right">
            {{ element[column] }}
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="first-row"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="other-rows"></tr>
    </table>
  </div>
  </div>


  <div class="paginator-container">
    <mat-paginator *ngIf="enablePaginator" [pageSize]="pageSize"></mat-paginator>
  </div>
</div>
